@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap');

* {
margin: 0 0;
padding: 0 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0;
  display: flex;  
  justify-content: center;
}

body {
  background-color: black;
  background-image: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;   
}  

header main footer{
  display: flex;  
  justify-content: center;
}

header img {
  margin: 20px auto 20px 20px;  
}

header img:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);   
}

header .container {
  display: flex;
  flex-direction: row;  
}

.nav_switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.nav_switch .hamburger_unvisited { 
  /* 
  color: white;
  font-size: 3.57em;
  */
  display: none;
}

.nav_switch ul {
  padding: 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav_switch nav ul li {  
  list-style-type: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  margin-left: 30px;
} 

.nav_switch nav ul li:last-child {
  margin-right: 30px;
}

.nav_switch ul a {
  text-decoration: none;
}

.nav_switch ul a:hover {
  color: #BDAE82;;
}

.language-buttons-items {
  background-color: transparent;
  border: 0;  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF; 
}

.language-buttons-list {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  list-style-type: none;
  margin-right: 20px;
}

.language_button {
  background-color: transparent;
  border: 0;  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;  
  margin-left: 9px;
}

.language_button_active {
  background-color: transparent;
  border: 0;  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #BDAE82;
  margin-right: 9px;
}

a {
  color: white;
}

main .container{
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 0;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #FFFFFF;
}

main .hero p {
  width: 470px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}

.hero .section  {  
  margin: 160px auto 330px 80px;  
}

.hero-button {  
  background-color: #BDAE82;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  border: 0;
  padding: 8px 72px;
}

.hero-button:hover {
  color: white;
}

#skills {
  margin: 0 0;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #BDAE82;  
  background-color: black;  
  padding: 0 20px;
  position: absolute;  
}

.section-title-line {  
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  margin-top: 100px;
  margin-bottom: 60px;
  width: 700px;
  height: 80px;
}

.section-title-line::before {
  content: '';
  display: block;  
  width: 700px;
  height: 2px;
  background-color: #BDAE82;
  position: absolute;
  top: calc(50% - 1px);
}

.skills-items {  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.items {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-items h4 {  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  margin: 50px 20px 20px 20px;
  width: 280px;
}

.skills-items p {  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px 20px 8px 20px;
  width: 280px;
}

.photo img {
  width: 62px;
  height: 50px;
}

.video img {
  width: 60px;
  height: 50px;
}

.retouch img {
  width: 66px;
  height: 50px;
}

.audio img {
  width: 32px;
  height: 50px;
}

.video {
  margin-right: 80px;
}

.retouch {
  margin-right: 40px;
}

#portfolio {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

#portfolio ul {
  list-style-type: none;
}

.portfolio-button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;  
  color: #BDAE82;
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;  
}

.portfolio-button:hover {
  color: white;
}

.portfolio-button-active {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background: #BDAE82;
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 6px 71.5px 5px 71.5px;
}

.winter {
  padding: 6px 77.2px 5px 77.2px;
  margin-right: 5px;
}

.spring {
  padding: 6px 77.5px 5px 77.5px;
  margin-right: 5px;
}

.summer {
  padding: 6px 68.9px 5px 68.9px;
  margin-right: 5px;
}

.portfolio-button-active:hover {
  color: white;
}

.portfolio-list {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
}

.portfolio-items {  
  margin: 60px 20px 32px 20px;
  display: flex; 
  flex-wrap: wrap;
}
*/
.portfolio-items li {
  width: 450px;
  height: 560px;
}


.portfolio-items li {
  margin-right: 25px;
}

.portfolio-items li:nth-child(3n+3) {
  margin-right: 0px;
}

.portfolio-items li:nth-child(-n+3) {
  margin-bottom: 25px;
}

#video {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video1 {    
  position: absolute;  
}

.video-player {   
  width: 1400px;
  height: 705px;  
  display: flex;  
  flex-direction: column;  
  align-items: center;
}

.video-player button {      
  width: 130px;
  height: 130px;   
  position: relative; 
  top: 288px;
  background-image: url('./assets/svg/Play_Unvisited.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}

.video-player button:hover {
  background-image: url('./assets/svg/Play_hover_1.svg');
}

#price {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-items {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.price-item {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  margin-right: 25px;
  min-width: 450px;
}

.price-item:last-child {
  margin-right: 0px;
}

.price-item h4 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 43px;
}

.price-item h5 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #BDAE82;
  margin-bottom: 20px;
}

.price-item-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 364px;
  height: 180px;
}

.price-item button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background: #BDAE82;
  border-radius: 0px;  
  border: 0;
  margin-bottom: 40px;
  padding: 8px 39px 7px 39px;  
}


.standart h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.standart h5 {
  margin-bottom: 20px;
}

.premium h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.premium h5 {
  margin-bottom: 20px;
}

.gold h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.gold h5 {
  margin-bottom: 20px;
}

#contacts {
  max-width: 1440px;  
  background-image: url('./assets/img/contacts.jpg');
  display: flex;
}

#contacts h2 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
  background-color: transparent;
  padding: 0 0;
  position: static;
  left: 0;
  display: flex;
  justify-content: flex-start;
  width: 450px;
  margin-bottom: 40px;
}

.contacts-container {
  margin: 60px 20px 195px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-container-message {
  width: 450px;
  height: 100px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.contacts-container input {
  width: 450px;  
  height: 50px; 
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 40px;
}

.contacts-container input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
  text-indent: 20px;
  vertical-align: center;  
}

.contacts-container input:focus {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
  text-indent: 20px;
  outline: 0;
  box-sizing:border-box;  
  vertical-align: center;
}

.contacts-container textarea {
  color: #BDAE82;
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  text-indent: 20px;
  vertical-align: top;
  resize: none;
}

.contacts-container textarea:focus {
  color: #BDAE82;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-indent: 20px;
  outline: 0;
}

.contacts-container textarea::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
  text-indent: 20px;  
  vertical-align: top;  
}

.contacts-container button {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000000;  
  background: #BDAE82;
  border-radius: 0px;  
  border: 0;
  padding: 8px 40px 7px 40px;
  width: 220px;
}

footer .container {
  max-width: 1440px;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
}

.footer-data {
  margin: 50px 0px 50px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
}

.footer-data p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;  
}

.data {
  padding: 0 20px;
}

footer .container a {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  text-decoration: none;
}

.copyright {  
  width: 19px;
  height: 50px; 
}

.RSS {
  margin: 50px 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}

.social-list {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
}

.social-list li {
  list-style-type: none;
  margin-right: 20px;
}

.social-list li:last-child {
  margin-right: 0px;
}

.social-list a {
  list-style-type: none;
  width: 32px;
  height: 50px;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.fa-instagram {
  font-size: 1.5em;  
}

.fa-facebook-f  {
  font-size: 1.35em; 
}

.fa-twitter {
  font-size: 1.35em;
}

.fa-pinterest {
  font-size: 1.35em;
}

.social-list i:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%); 
}


@media (max-width: 1919px) {

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0;
  }
  
  main .hero p {
    width: 470px;  
  }

  .section-title-line { 
    width: 700px;
    height: 80px;
  }

  .section-title-line::before {
    content: '';
    display: block;  
    width: 700px;
    height: 2px;
    background-color: #BDAE82;
    position: absolute;
    top: calc(50% - 1px);
  }

  .skills-items h4 {  
    width: 280px;
  }

  .skills-items p { 
    width: 280px;
  }

  .photo img {
    width: 62px;
    height: 50px;
  }

  .video img {
    width: 60px;
    height: 50px;
  }

  .retouch img {
    width: 66px;
    height: 50px;
  }

  .audio img {
    width: 32px;
    height: 50px;
  }

  .video-player {   
    width: 1400px;
    height: 705px;  
  }

  .video-player button {      
    width: 130px;
    height: 130px; 
  }

  .price-item-p {
    width: 364px;
    height: 180px;
  }

  #contacts h2 {
    width: 450px;
  }

  .contacts-container-message {
    width: 450px;
    height: 100px;
  }

  .contacts-container input {
    width: 450px;  
    height: 50px;     
  }

  .contacts-container button {
    width: 220px;
  }

  footer .container {
    max-width: 1440px;      
  }

  .copyright {  
    width: 19px;
    height: 50px; 
  }

  .social-list a {
    width: 32px;
    height: 50px;
  }

  .fa-instagram {
    font-size: 1.5em;  
  }

  .fa-facebook-f  {
    font-size: 1.35em; 
  }

  .fa-twitter {
    font-size: 1.35em;
  }

  .fa-pinterest {
    font-size: 1.35em;
  }  
}

/*
*/

@media (max-width: 1439px) {

  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 0;
    display: flex;  
    justify-content: center;
  }

  body {
    background-repeat: no-repeat;
    background-position: center 0; 
    background-size: auto 590px;    
  }  
    
  header main footer{
    display: flex;  
    justify-content: center;
  }
  
  header img {
    margin: 0px auto 0px 60px;  
  }
  /*
  header .container {
    display: flex;
    flex-direction: row;  
  }
  */

  .nav_switch nav {
    display: none;
  }

  /*
  .nav_switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
  }
  */
  
  .nav_switch .hamburger_unvisited {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 60px;
  }

  .hamburger_unvisited span ,  
  .hamburger_unvisited span::after, 
  .hamburger_unvisited span::before {       
    position: absolute;
    top: 50%;
    margin-top:  -1.5px ;
    width: 50px;
    height: 3px;
    background-color: #FFFFFF;
    
  }

  .hamburger_unvisited span::after,
  .hamburger_unvisited span::before { 
    content: ''; 
  }

  .hamburger_unvisited span::after {
    transform: translateY(13.5px);
  }
  .hamburger_unvisited span::before {
    transform: translateY(-13.5px);
  }
   
  /*
  .nav_switch ul {
    padding: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .nav_switch nav ul li {  
    list-style-type: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    margin-left: 30px;
  } 
  
  .nav_switch nav ul li:last-child {
    margin-right: 30px;
  }
  
  .nav_switch ul a {
    text-decoration: none;
  }
  
  .nav_switch ul a:hover {
    color: #BDAE82;;
  }
  */

  .language_button {
    margin-left: 18px;
  }

  h1 {
    margin: 0 0;    
    font-size: 32px;
    line-height: 64px;
  }
  
  main .hero p {
    margin-top: 20px;
    margin-bottom: 60px;    
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  
  .hero .section  {  
    margin: 78px auto 150px 60px;  
  }
  
  .hero-button {  
    padding: 8px 72px;
  }
  
  .hero-button:hover {
    color: white;
  }
  /*
  #skills {
    margin: 0 0;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  */
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  
  .section-title-line { 
    margin-top: 80px;
    margin-bottom: 36px;
    width: 364px;
  }
  
  .section-title-line::before {
    width: 364px;
    height: 2px;
  }
   
  .skills-items {  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  /*
  .items {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  */

  .skills-items h4 {  
    margin: 30px 10px 20px 10px;
    width: 280px;
  }
  
  .skills-items p {  
    font-size: 18px;
    line-height: 22px;
    margin: 0px 10px 40px 10px;
  }
  
  .skills-items .items:nth-child(odd) {
    margin-right: 44px;
  }

  .skills-items .items {
    margin-bottom: 36px;
  }

  
  /*
  .video img {
    width: 60px;
    height: 50px;
  }
  
  .retouch img {
    width: 66px;
    height: 50px;
  }
  
  .audio img {
    width: 32px;
    height: 50px;
  }
  */

  .video {
    margin-right: 0px;
  }
  
  .retouch {
    margin-right: 0px;
  }


  /*
  #portfolio {  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #portfolio ul {
    list-style-type: none;
  }
  
  .portfolio-button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;  
    color: #BDAE82;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;  
  }
  
  .portfolio-button:hover {
    color: white;
  }
  
  .portfolio-button-active {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background: #BDAE82;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 6px 71.5px 5px 71.5px;
  }
  
  .winter {
    padding: 6px 77.2px 5px 77.2px;
    margin-right: 5px;
  }
  
  .spring {
    padding: 6px 77.5px 5px 77.5px;
    margin-right: 5px;
  }
  
  .summer {
    padding: 6px 68.9px 5px 68.9px;
    margin-right: 5px;
  }
  
  .portfolio-button-active:hover {
    color: white;
  }
  
  .portfolio-list {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
  }
  
  .portfolio-items {  
    margin: 60px 20px 32px 20px;
    display: flex; 
    flex-wrap: wrap;
  }
  
  .portfolio-items li {
    width: 450px;
    height: 560px;
  }
  
  
  .portfolio-items li {
    margin-right: 25px;
  }
  
  .portfolio-items li:nth-child(3n+3) {
    margin-right: 0px;
  }
  
  .portfolio-items li:nth-child(-n+3) {
    margin-bottom: 25px;
  }
  
  #video {  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video1 {    
    position: absolute;  
  }
  
  .video-player {   
    width: 1400px;
    height: 705px;  
    display: flex;  
    flex-direction: column;  
    align-items: center;
  }
  
  .video-player button {      
    width: 130px;
    height: 130px;   
    position: relative; 
    top: 288px;
    background-image: url('./assets/svg/Play_Unvisited.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
  }
  
  .video-player button:hover {
    background-image: url('./assets/svg/Play_hover_1.svg');
  }
  
  #price {  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .price-items {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .price-item {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    margin-right: 25px;
    min-width: 450px;
  }
  
  .price-item:last-child {
    margin-right: 0px;
  }
  
  .price-item h4 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 43px;
  }
  
  .price-item h5 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
    margin-bottom: 20px;
  }
  
  .price-item-p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 364px;
    height: 180px;
  }
  
  .price-item button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    background: #BDAE82;
    border-radius: 0px;  
    border: 0;
    margin-bottom: 40px;
    padding: 8px 39px 7px 39px;  
  }
  
  
  .standart h4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .standart h5 {
    margin-bottom: 20px;
  }
  
  .premium h4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .premium h5 {
    margin-bottom: 20px;
  }
  
  .gold h4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .gold h5 {
    margin-bottom: 20px;
  }
  
  #contacts {
    max-width: 1440px;  
    background-image: url('./assets/img/contacts.jpg');
    display: flex;
  }
  
  #contacts h2 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    background-color: transparent;
    padding: 0 0;
    position: static;
    left: 0;
    display: flex;
    justify-content: flex-start;
    width: 450px;
    margin-bottom: 40px;
  }
  
  .contacts-container {
    margin: 60px 20px 195px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contacts-container-message {
    width: 450px;
    height: 100px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .contacts-container input {
    width: 450px;  
    height: 50px; 
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 40px;
  }
  
  .contacts-container input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    text-indent: 20px;
    vertical-align: center;  
  }
  
  .contacts-container input:focus {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    text-indent: 20px;
    outline: 0;
    box-sizing:border-box;  
    vertical-align: center;
  }
  
  .contacts-container textarea {
    color: #BDAE82;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    text-indent: 20px;
    vertical-align: top;
    resize: none;
  }
  
  .contacts-container textarea:focus {
    color: #BDAE82;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-indent: 20px;
    outline: 0;
  }
  
  .contacts-container textarea::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    text-indent: 20px;  
    vertical-align: top;  
  }
  
  .contacts-container button {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;  
    background: #BDAE82;
    border-radius: 0px;  
    border: 0;
    padding: 8px 40px 7px 40px;
    width: 220px;
  }
  
  footer .container {
    max-width: 1440px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
  }
  
  .footer-data {
    margin: 50px 0px 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
  }
  
  .footer-data p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;  
  }
  
  .data {
    padding: 0 20px;
  }
  
  footer .container a {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .copyright {  
    width: 19px;
    height: 50px; 
  }
  
  .RSS {
    margin: 50px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
  }
  
  .social-list {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
  }
  
  .social-list li {
    list-style-type: none;
    margin-right: 20px;
  }
  
  .social-list li:last-child {
    margin-right: 0px;
  }
  
  .social-list a {
    list-style-type: none;
    width: 32px;
    height: 50px;
    display: flex;
    justify-content: center;  
    align-items: center;
  }
  
  .fa-instagram {
    font-size: 1.5em;  
  }
  
  .fa-facebook-f  {
    font-size: 1.35em; 
  }
  
  .fa-twitter {
    font-size: 1.35em;
  }
  
  .fa-pinterest {
    font-size: 1.35em;
  }
  
  .social-list i:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%); 
  } */
}


